// RESPONSIVE BREAKPOINTS
//1200 / 16:
$bp-largest: 75em; //1200px
//800 / 16 :
$bp-medium: 50em; // 800px
//656 / 16
$bp-small: 41em; // 656px

.about-me {
	grid-column: full-start / full-end;
	display: grid;
	padding: 10rem 0;

	@media (max-width: $bp-small) {
		padding: 4rem 2rem;
	}
	background-color: #3c3c3d;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	justify-items: center;
	align-items: center;

	& h2 {
		font-weight: 40rem;
		position: relative;

		@media (max-width: $bp-small) {
			font-size: 4.5rem;
		}

		&::before {
			content: '';
			position: absolute;
			width: 50%;
			margin-top: 1.2rem;
			height: 0.4rem;
			bottom: -1rem;
			right: 25%;
			background-color: #fdb533;
		}
	}

	&-content {
		padding-right: 15rem;
		@media (max-width: $bp-small) {
			padding: 4rem 2rem;
		}

		& p {
			margin-bottom: 4rem;
			line-height: 2.5rem;
		}

		& button {
			margin: 1rem;
		}
	}

	&-buttons {
		@media (max-width: $bp-small) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
