// RESPONSIVE BREAKPOINTS
//1200 / 16:
$bp-largest: 75em; //1200px
//800 / 16 :
$bp-medium: 50em; // 800px
//656 / 16
$bp-small: 41em; // 656px

.contact {
	grid-column: full-start / full-end;
	padding: 10rem 0;
	background-color: #3c3c3d;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: (10rem, 1fr);
	grid-template-areas:
		' . one one '
		'two three three';
	gap: 1.5rem;

	&-title {
		grid-area: one;
		padding-left: 5rem;
		font-weight: 40rem;
		margin-bottom: 10rem;

		@media (max-width: $bp-small) {
			justify-self: center;
			align-self: center;
			font-size: 4.5rem;
			padding: 5rem 24rem 5rem 0;
		}
	}

	& h2 {
		position: absolute;
		@media (max-width: $bp-small) {
			font-size: 4.5rem;
			text-align: center;
			justify-self: start;
		}

		&::before {
			content: '';
			position: absolute;
			width: 35%;
			margin-top: 1.2rem;
			height: 0.4rem;
			bottom: -1rem;
			left: 30%;
			background-color: #fdb533;
		}
	}

	&-info {
		grid-area: two;
		justify-self: center;

		@media (max-width: $bp-small) {
			justify-self: start;
			margin-bottom: 2rem;
		}

		& h4 {
			margin-bottom: 3rem;
			font-size: 2rem;
			font-weight: bold;
		}

		& ul {
			list-style-type: none;
			font-size: 1.4rem;
		}

		& .follow-me {
			font-size: 2rem;
			font-weight: bold;
		}

		& .follow a {
			color: #cccccc;
			text-decoration: none;

			&:hover {
				color: #fdb533;
			}
		}
	}
	//contact form styling starts here
	&-form {
		grid-area: three;
		padding-right: 10rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(7, auto);
		column-gap: 3rem;
		row-gap: 1.5rem;

		& label {
			font-size: 1.2rem;
		}

		&-input {
			color: #777777;
			background-color: #363737;
			border: none;
			outline: none;
			font-weight: 400;
			font-size: 1.5rem;
			padding: 1.5rem 2rem;
			font-family: inherit;

			&:focus {
				border-bottom: 3px solid #2ecc71;
			}
			&:focus:invalid {
				border-bottom: 3px solid #fd9533;
			}
		}

		&-name-label {
			grid-column: 1 / span 2;
			grid-row: 1 / 2;
		}

		&-name-input {
			grid-column: 1 / span 2;
			grid-row: 2 / 3;
			height: 6rem;
		}

		&-phone-label {
			grid-column: 1 / 2;
			grid-row: 3 / 4;
			margin-top: 1.5rem;

			@media (max-width: $bp-small) {
				grid-column: 1 / span 2;
				grid-row: 3 / 4;
			}
		}
		&-phone-input {
			height: 6rem;
			width: 100%;
		}
		&-number-control {
			grid-column: 1 / 2;
			grid-row: 4 / 5;

			@media (max-width: $bp-small) {
				grid-column: 1 / span 2;
				grid-row: 4 / 5;
			}
		}

		&-email-label {
			grid-column: 2 / 3;
			/* grid-row: 3 / 4; */
			margin-top: 1.5rem;

			@media (max-width: $bp-small) {
				grid-column: 1 / span 2;
				grid-row: 5 / 6;
			}
		}

		&-email-input {
			grid-column: 2 / 3;
			/* grid-row: 4 / 5; */
			height: 6rem;

			@media (max-width: $bp-small) {
				grid-column: 1 / span 2;
				grid-row: 6 / 7;
			}
		}

		&-message-label {
			grid-column: 1 / span 2;
			/* grid-row: 5 / 6; */
			margin-top: 1.5rem;
		}

		&-message-input {
			grid-column: 1 / span 2;
			/* grid-row: 6 / 7; */
		}

		&-button {
			grid-column: 1 / 2;
			/* grid-row: 7 / 8; */
			margin-top: 1.5rem;
			width: 20rem;
			font-size: 1.5rem;
		}
	}

	// styling form error message for phone number validation

	.contact-form-number-control {
		position: relative;
		& small {
			color: #cc0000;
			position: absolute;
			bottom: 0;
			left: 0;
			visibility: hidden;
		}

		&.error small {
			visibility: visible;
			color: #cc0000;
			position: absolute;
			font-size: 1.5rem;
			bottom: 0;
			left: 0;
		}

		&.success input {
			border-bottom: 2px solid #2ecc71;
		}

		&.error input {
			border-bottom: 2px solid #fd9533;
		}
	}

	@media (max-width: $bp-small) {
		padding: 5rem 2rem 5rem 2rem;

		grid-template-columns: auto;
		grid-template-areas:
			'one'
			'two'
			'three';
	}
}
