// RESPONSIVE BREAKPOINTS
//1200 / 16:
$bp-largest: 75em; //1200px
//800 / 16 :
$bp-medium: 50em; // 800px
//656 / 16
$bp-small: 41em; // 656px

.contact {
	grid-column: full-start / full-end;
	padding: 10rem 0;
	background-color: #3c3c3d;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: (10rem, 1fr);
	grid-template-areas:
		' . one one '
		'two three three';
	gap: 1.5rem;

	&-title {
		grid-area: one;
		padding-left: 5rem;
		font-weight: 40rem;
		margin-bottom: 10rem;

		@media screen and (max-width: $bp-small) {
			justify-self: center;
			align-self: center;
			font-size: 4.5rem;
			padding: 5rem 24rem 5rem 0;
		}
	}

	@media screen and (max-width: $bp-small) {
		padding: 5rem 2rem 5rem 2rem;

		grid-template-columns: auto;
		grid-template-areas:
			'one'
			'two'
			'three';
	}
}
