// RESPONSIVE BREAKPOINTS
//1200 / 16:
$bp-largest: 75em; //1200px
//800 / 16 :
$bp-medium: 50em; // 800px
//656 / 16
$bp-small: 41em; // 656px

.services {
	grid-column: full-start / full-end;
	padding: 10rem 0;
	background-color: #2b2c2c;

	@media (max-width: $bp-small) {
		padding: 5rem 2rem 5rem 2rem;
	}

	&-text-box {
		display: flex;
		flex-direction: column;
		align-items: center;

		& h2 {
			font-weight: 40rem;
			position: relative;
			margin-bottom: 5rem;

			@media (max-width: $bp-small) {
				font-size: 4.5rem;
			}

			&::before {
				content: '';
				position: absolute;
				width: 50%;
				margin-top: 1.2rem;
				height: 0.4rem;
				bottom: -1rem;
				left: 25%;
				background-color: #fdb533;
			}
		}

		& p {
			text-align: center;
			line-height: 2.5rem;
		}
	}

	&-cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
		justify-items: center;
		align-items: center;
		column-gap: 4rem;
		row-gap: 4rem;
		margin-top: 6rem;
	}
}

.card {
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	padding: 8rem;

	& h3 {
		margin: 1.5rem 0;
		color: white;
		font-size: 3.2rem;
	}

	& p {
		line-height: 3rem;
		color: white;
	}
}

.card1 {
	background: linear-gradient(
			to right,
			rgba(39, 150, 236, 0.9),
			rgba(39, 150, 236, 0.9)
		),
		url(../../Images/laptop.jpg);

	justify-self: end;
}

.card2 {
	background: linear-gradient(
			to right,
			rgba(250, 180, 32, 0.9),
			rgba(250, 180, 32, 0.9)
		),
		url('../../Images/desk.jpg');
	justify-self: start;
}
.card3 {
	background: linear-gradient(
			to right,
			rgba(209, 61, 196, 0.9),
			rgba(209, 61, 196, 0.9)
		),
		url('../../Images/applicatin.jpg');
	justify-self: end;
}

.card4 {
	background: linear-gradient(
			to right,
			rgba(22, 202, 80, 0.9),
			rgba(22, 202, 80, 0.9)
		),
		url('../../Images/web-design.jpg');
	justify-self: start;
}

/* to align the cards in the center when screen smaller than 849px */

@media (max-width: 53em) {
	.card1,
	.card2,
	.card3,
	.card4 {
		justify-self: center;
	}
}
