// RESPONSIVE BREAKPOINTS
//1200 / 16:
$bp-largest: 75em; //1200px
//800 / 16 :
$bp-medium: 50em; // 800px
//656 / 16
$bp-small: 41em; // 656px

.slide-container {
	& .img {
		width: 15rem;
		height: 15rem;
		margin-bottom: 1rem;
		object-fit: cover;
		border: 1px solid #fdb533;
		background: #fdb533;
		padding: 0.25rem;
		border-radius: 50%;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	}

	& h4 {
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 0.1rem;
		margin: 1rem 0;
	}

	& .title {
		margin-bottom: 1.25rem;
		letter-spacing: 2px;
		text-transform: capitalize;
		color: whitesmoke;
	}

	& .text {
		color: rgb(184, 180, 180);
		line-height: 1.8;
		max-width: 35em;
		margin: 0 auto;
		letter-spacing: 1px;
	}

	& .quote-icon {
		font-size: 4rem;
		margin-top: 2rem;
		color: #fdb533;
	}
}

.slide-container {
	display: flex;
	height: 45rem;
	overflow: hidden;
}

.slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

/* set buttons */

.button-container {
	//width and position relative for buttons
	width: 60rem;
	position: relative;
}

.btn {
	position: absolute;
	top: -20rem;
	background: rgb(184, 180, 180);
	color: #3c3c3d;
	padding: 0.25rem 0.35rem;
	border-radius: 0.25rem;
	border: transparent;
	cursor: pointer;
	font-size: 1.5rem;
}
.next-btn {
	right: -5rem;
}
.prev-btn {
	left: -5rem;
}

@media screen and (max-width: $bp-small) {
	.next-btn {
		right: -0.5rem;
	}
	.prev-btn {
		left: -0.5rem;
	}
	.button-container {
		width: 25rem;
	}
	.btn {
		font-size: 1rem;
		top: 0;
	}
	.quote-icon {
		font-size: 3rem;
	}
}
