// RESPONSIVE BREAKPOINTS
//1200 / 16:
$bp-largest: 75em; //1200px
//800 / 16 :
$bp-medium: 50em; // 800px
//656 / 16
$bp-small: 41em; // 656px

h2 {
	font-weight: 40rem;
	position: relative;
	margin-bottom: 5rem;

	@media screen and (max-width: $bp-small) {
		font-size: 4.5rem;
	}

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		margin-top: 1.2rem;
		height: 0.4rem;
		bottom: -1rem;
		right: 0;
		background-color: #fdb533;
	}
}

.contact-me {
	position: absolute;
	@media screen and (max-width: $bp-small) {
		font-size: 4.5rem;
		text-align: center;
	}

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		margin-top: 1.2rem;
		height: 0.4rem;
		bottom: -1rem;
		left: 0;
		background-color: #fdb533;
	}
}

.reviews {
	font-weight: 40rem;
	margin-bottom: 8rem;
	padding-top: 10rem;

	@media screen and (max-width: $bp-small) {
		font-size: 4.5rem;
	}

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		margin-top: 1.2rem;
		height: 0.4rem;
		bottom: -1rem;
		left: 0;
		background-color: #fdb533;
	}
}
