.dark-theme {
	--clr-bcg: #54595f;
	--clr-primary: #ffa7c4;
	--clr-font: #fff;
}

.light-theme {
	--clr-bcg: #fff;
	--clr-primary: #d23669;
	--clr-font: #54595f;
}

.blog-section {
	background-color: var(--clr-bcg);
	height: 100vh;
	display: grid;
	grid-template-columns: 3;
	grid-template-rows: repeat(2, max-content);
	gap: 1rem;
	align-items: center;
	padding-top: 10rem;
	align-items: center;

	& h1 {
		grid-column: 2/3;
		padding-top: 2rem;
		color: var(--clr-font);
	}
}

.btn {
	grid-column: 3/4;
	margin-top: 2rem;
	justify-self: start;
	background: var(--clr-primary);
	color: var(--clr-font);
	padding: 0.25rem 0.5rem;
	border-radius: 5px;
	border-color: transparent;
	text-transform: capitalize;
	transition: all 0.3s linear;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
}

.articles {
	grid-column: 2/3;
}
