.dark-theme {
	--clr-bcg: #54595f;
	--clr-primary: #ffa7c4;
	--clr-font: #fff;
}

.light-theme {
	--clr-bcg: #fff;
	--clr-primary: #d23669;
	--clr-font: #54595f;
	--clr-font-btn: whitesmoke;
}

.post {
	color: var(--clr-font);
	margin-top: 5rem;
}

.heading2 {
	color: var(--clr-primary);
	text-transform: capitalize;
	font-size: 2rem;
}

.post-info {
	margin-bottom: 0.75rem;
	font-style: italic;
	color: var(--clr-font);

	& span {
		margin-right: 0.5rem;
		font-size: 1.2rem;
	}
}
