// RESPONSIVE BREAKPOINTS
//1200 / 16:
$bp-largest: 75em; //1200px
//800 / 16 :
$bp-medium: 50em; // 800px
//656 / 16
$bp-small: 41em; // 656px

/* grid layout for top menu and logo */

.navbar {
	grid-column: full-start / full-end;
	grid-row: 1 / 2;
	background-color: #2b2c2c;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 100;
	width: 100%;

	& ul {
		list-style-type: none;
		padding: 0 8rem;
		display: flex;
	}

	&-menu {
		font-size: 1.4rem;
		color: #fff;
		font-weight: 700;
	}

	&-logo {
		font-weight: 900;
		font-size: 5rem;
		line-height: 6rem;
		margin-left: 5rem;
		margin-top: 1.5rem;

		& a {
			color: #fbd214;
		}
	}

	/* color of links when hovering over menu item: */

	& ul li a:hover {
		color: #fbd214;
	}

	& ul li a:active {
		color: #fbd214;
	}

	/* adding the line effect when you hover over item */

	&-menu {
		position: relative;
		margin-bottom: 0.5rem;
		margin-left: 5rem;
	}

	&-menu::before {
		content: '';
		position: absolute;
		width: 0;
		margin-top: 1.2rem;
		height: 0.2rem;
		bottom: 0;
		left: 10;
		background-color: #fdb533;
		transition: all 0.3s ease-in-out;
	}

	&-menu:hover::before {
		width: 50%;
	}

	/* for the active link to stay underlined  */
	&-menu .active::before {
		content: '';
		position: absolute;
		width: 50%;
		margin-top: 1.2rem;
		height: 0.2rem;
		bottom: 0;
		left: 10;
		background-color: #fdb533;
		transition: all 0.3s ease-in-out;
	}
}

@media screen and (min-width: $bp-medium) {
	& .open {
		display: none;
	}
}

/*  menu item layout change with smaller screen */

@media screen and (max-width: $bp-medium) {
	.navbar {
		align-items: stretch;
		& ul {
			display: none;
		}
	}
}

.modal-container {
	background-color: #2b2c2c;
	color: whitesmoke;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 32rem;
	z-index: 100;
	font-size: 1.5rem;

	& ul {
		list-style-type: none;
		margin-left: 1rem;

		& li {
			margin-bottom: 2rem;

			& a {
				color: inherit;

				&:hover {
					color: #fbd214;
				}
			}
		}
	}

	&-logo {
		font-weight: 900;
		font-size: 5rem;
		line-height: 6rem;
		margin: 1.5rem 0 1.5rem 1rem;

		& a {
			color: #fbd214;
		}
	}

	& button {
		background-color: #2b2c2c;
		border: #2b2c2c;
		color: #fff;
		cursor: pointer;
		position: absolute;
		top: 3rem;
		right: 3rem;

		&:hover {
			color: #fbd214;
		}
	}

	&.show-modal {
		display: inline-block;
	}
}

/* open button styling */

.open {
	background-color: #2b2c2c;
	border: #2b2c2c;
	color: #fff;
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
}
